* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
}
.person {
  max-width: 75vw;
  background-color: rgba(0, 200, 255, 0.196);

  margin: 4rem;
  border-radius: 12px;
}
.person > h1 {
  color: rgb(33, 115, 15);
}
.person > h2 {
  color: rgba(50, 20, 221, 0.557);
}
.person:hover {
  background-color: gold;
}
.date::first-letter {
  text-transform: uppercase;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #6f65cc;
  color: #fff;
}
.logo {
  height: 20vh;
}
.logo img {
  height: 100%;
  width: auto;
}

.navigation {
  display: flex;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-family: cursive;
  font-size: large;
}

.navigation a:hover {
  color: green;
}
