.person:hover {
  background-color: #5adaff;
  color: white;
}
.person > h1 {
  color: rgb(33, 115, 15);
}
.person > h2 {
  color: rgba(50, 20, 221, 0.557);
}

.date::first-letter {
  text-transform: uppercase;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
}
.logo {
  height: 20vh;
}
.logo img {
  height: 100%;
  width: auto;
}

.navigation {
  display: flex;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
  font-family: cursive;
  font-size: large;
}
@media only screen and (max-width: 320px) {
  .navigation a {
    margin-right: 0.3rem;

    font-size: medium;
  }
}
